div button {
    float: right;
    background-color: yellowgreen;
}

#titleDiv  {
    padding: 2%;
    text-align: center;
}
#titleDiv span{
    font-size: 40px;
}
#mainDiv  {
    padding: 5%;
    margin: auto;
}