<div id="taskDetails">
    <span id="titleSpan">Task Details
    </span><br><br>    
 
    <span>
        <label>Task Name:</label>
        <p>{{task.taskName}}</p>
    </span><br>
    <span>
        <label>Task Description:</label>
        <p>{{task.taskDescription}}</p>
    </span><br>
    <span>


        <label>Task Priority:</label>
        <p>{{task.taskPriority}}</p>
    </span><br>
    <span>


        <label>Task status:</label>
        <p>{{task.status}}</p>
    </span><br>
    <span>
        <label>Task Creation Date:</label>
        <p>{{task.creationDate}}</p>
    </span><br>
    <span>
        <label>Task Completion Date:</label>
        <p>{{task.completionDate}}</p>
    </span><br>
    <button type="submit" (click)="deleteTask()">Delete</button>
    <button type="submit" (click)="editTask()">Edit</button>
</div>