#taskDetails {
    text-align: center;
    box-sizing: border-box;
    border: solid yellowgreen;
    background-color: grey;
}


input[type = submit] { 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #B3A9A9; 
    box-sizing: border-box; 
    background-color: indigo;
}

#titleSpan{
    font-size: 30px;
}