<div id="bottom">
  <div class="divs" id="newTaskDiv">
    NEW
    <div>
      <div id="taskDiv" *ngFor="let task of taskList">
        <a [routerLink]="['/task-details/',task.creationDate]">
          <div *ngIf="task.status == 'NEW'">
            <div id="{{task.taskPriority}}">
              <span>{{task.taskName}}</span><br>
              <span>{{task.taskDescription}}</span><br>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="divs" id="inProcessTaskDiv">
    IN PROGRESS
    <div>
      <div id="taskDiv" *ngFor="let task of taskList">
        <a [routerLink]="['/task-details/',task.creationDate]">
          <div *ngIf="task.status == 'IN PROGRESS'">
            <div id="{{task.taskPriority}}">
              <span>{{task.taskName}}</span><br>
              <span>{{task.taskDescription}}</span><br>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="divs" id="completedTaskDiv">
    COMPLETED
    <div>
      <div id="taskDiv" *ngFor="let task of taskList">
        <a [routerLink]="['/task-details/',task.creationDate]">
          <div *ngIf="task.status == 'COMPLETED'">
            <div id="{{task.taskPriority}}">
              <span>{{task.taskName}}</span><br>
              <span>{{task.taskDescription}}</span><br>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>